body {
  background-color: #dd4b39;
}

h1 {
  color: #fafafa;
  text-align: center;
}

button {
  background-color: #f1f1f1;
  color: #db4c3f;
  margin: .5%;
  margin-left: 40%;
}

input {
  background-color: #d2b8a3;
}

ul {
  margin-left: 40%;
  margin-top:1%;
}

